{
  "presets": [
    ["es2015"],
    "flow",
    "stage-3"
  ],
  "plugins": [
    [
      "transform-class-properties",
      {
        "spec": true
      }
    ],
    [
      "transform-runtime",
      {
        "helpers": false,
        "polyfill": false,
        "regenerator": true,
        "moduleName": "babel-runtime"
      }
    ],
    // 支持 对象解构
    "transform-object-rest-spread",
    // 支持注解
    "transform-decorators"
  ]
}